
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.container {
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: black; 
    margin-bottom: 20px;
}

label {
    display: inline-block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #808080;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold; /*  bold text*/
}

button#fetchButton {
    background-color: royalblue; 
    color: #fff; 
}

button#fetchButton:hover {
    background-color: #004080; /* Darker shade of Royal Blue on hover */
}

button#prevButton,
button#nextButton {
    background-color: steelblue; 
    color: #fff; 
}

button#prevButton:hover,
button#nextButton:hover {
    background-color: #3c4f6e; /* Darker shade of Steel Blue on hover */
}

#repositories {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.repo-card {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.repo-card:hover {
    transform: scale(1.05);
}

.repo-card a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.repo-card p {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}